<h1>Listing Course Types</h1>
<%= link_to 'New Course Type', new_course_type_path %>
<table>
  <tr>
    <th>Course type name</th>
    <th>Course type fee</th>
    <th colspan="3">Action</th>
  </tr>

<% @course_types.each do |course_type| %>
  <tr>
    <td><%=h course_type.course_type_name %></td>
    <td><%=h course_type.course_type_fee %></td>
    <td><%= link_to 'Show', course_type %></td>
    <td><%= link_to 'Edit', edit_course_type_path(course_type) %></td>
    <td><%= link_to 'Destroy', course_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @course_types %>
