<h1>New tutor</h1>

<% form_for(@tutor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tutor_no %><br />
    <%= f.text_field :tutor_no %>
  </p>
  <p>
    <%= f.label :tutor_name %><br />
    <%= f.text_field :tutor_name %>
  </p>
  <p>
    <%= f.label :tutor_address %><br />
    <%= f.text_area :tutor_address %>
  </p>
  <p>
    <%= f.label :tutor_phone %><br />
    <%= f.text_field :tutor_phone %>
  </p>
  <p>
    <%= f.label :tutor_handphone %><br />
    <%= f.text_field :tutor_handphone %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tutors_path %>