<h5>Search</h5>
<hr />
<% form_for(@search) do |f| %>
  <p>
    <%= f.label :username_like, "Username" %><br />
    <%= f.text_field :username_like %>
  </p>
  <p>
    <%= f.label :role_like, "Role" %><br />
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  </p>
  <p>
    <%= f.submit 'Search' %>
  </p>
<% end %>