<h3>
  <%=h @class_session.course_type.course_type_name rescue nil %> - <%=h @class_session.class_session_name %>
</h3>
<p>
  <%= @day[@class_session.day.to_i][0] %> <%=h @time[@class_session.start.to_i] %>
</p>
<h3>Tutor : 
<% @tutor_class.each do |tutor_class| %>
  <%=h tutor_class.tutor.tutor_name rescue nil %>
<% end %>
</h3>
<h3>Student</h3>
<ul>
<% @student_class.each do |student_class| %>
  <li><%=h student_class.student.name rescue nil %></li>
<% end %>
</ul>
<br />
<%= link_to 'Back', :controller => "schedules" %>
