<% title "Listing Class Session" %>
<h1>Listing Class Sessions</h1>
<% if can? :create, ClassSession %>
<%= link_to 'New Class Session', new_class_session_path, :class => "ss_sprite ss_add" %>
<% end %>
<div class="float_right"> <%= link_to "View All", :action => "index" %> | <a id="search" href="#search_form" rel="facebox" class="ss_sprite ss_find">Advanced Search</a></div>
<div id="search_form" class="hide">
  <%= render "search" %>
</div>
<table>
  <tr>
    <th>Course Type</th>
    <th>Class Session name</th>
    <th>Day</th>
    <th>Start</th>
    <th colspan="3">Action</th>
  </tr>

<% @class_sessions.each do |class_session| %>
  <tr>
    <td><%=h class_session.course_type.course_type_name rescue nil %></td>
    <td><%=h class_session.class_session_name %></td>
    <td><%=h @day[class_session.day.to_i][0] %></td>
    <td><%=h @time[class_session.start.to_i] %></td>
    <td><%= link_to 'Show', class_session, :class => "ss_sprite ss_zoom" %></td>
	<% if can? :edit, ClassSession %>
    <td><%= link_to 'Edit', edit_class_session_path(class_session), :class => "ss_sprite ss_pencil" %></td>
	<% end %>
	<% if can? :delete, ClassSession %>
    <td><%= link_to 'Destroy', class_session, :confirm => 'Are you sure?', :method => :delete , :class => "ss_sprite ss_delete" %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @class_sessions %>
