<% title "New Class Session" %>
<h1>New Class Session</h1>

<% form_for(@class_session) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :course_type_id %><br />
    <%= f.collection_select :course_type_id, CourseType.all , :id, :course_type_name %>
  </p>
  <p>
    <%= f.label :class_session_name %><br />
    <%= f.text_field :class_session_name %>
  </p>
  <p>
    <%= f.label :day %><br />
    <%= f.select :day, @day, :prompt => 'Select Day' %>
  </p>
  <p>
    <%= f.label :start %><br />
    <%= f.select :start, @time.sort %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', class_sessions_path %>