<h5>Search</h5>
<hr />
<% form_for(@search) do |f| %>
  <p>
    <%= f.label :tutor_id_equals, "Tutor" %><br />
    <%= f.collection_select :tutor_id_equals, Tutor.all , :id, :tutor_name, :include_blank => true %>
  </p>
  <p>
    <%= f.label :class_session_id_equals, "Class Session" %><br />
    <%= f.collection_select :class_session_id_equals, ClassSession.all , :id, :class_session_name, :include_blank => true %>
  </p>
  <p>
    <%= f.label :tutor_attendance_date_equals, "Tutor Attendance Date" %><br />
    <%= f.date_select :tutor_attendance_date_equals %>
  </p>
  <p>
    <%= f.label :attendance_equals, "Attendance" %><br />
    <%= f.check_box :attendance %>
  </p>
  <p>
    <%= f.submit 'Search' %>
  </p>
<% end %>