<p>
  <b>School no:</b>
  <%=h @school.school_no %>
</p>

<p>
  <b>School name:</b>
  <%=h @school.school_name %>
</p>

<p>
  <b>School address:</b>
  <%=h @school.school_address %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>