<h1>Listing Financial Reports</h1>
<% if can? :create, FinancialReport %>
<%= link_to 'New Financial Report', new_financial_report_path, :class => "ss_sprite ss_add" %>
<% end %>
<div class="float_right"> <%= link_to "View All", :action => "index" %> | <a id="search" href="#search_form" rel="facebox" class="ss_sprite ss_find">Advanced Search</a></div>
<div id="search_form" class="hide">
  <%= render "search" %>
</div>
<table>
  <tr>
    <th>Financial Report Date</th>
    <th>Transaction Type</th>
    <th>Value</th>
    <th>Debit</th>
    <th>User</th>
    <th colspan="3">Action</th>
  </tr>

<% @financial_reports.each do |financial_report| %>
  <tr>
    <td><%=h financial_report.financial_report_date %></td>
    <td><%=h financial_report.transaction_type.transaction_type_code rescue nil %></td>
    <td><%=h financial_report.value %></td>
    <td><%=h financial_report.debit %></td>
    <td><%=h financial_report.user_id %></td>
    <td><%= link_to 'Show', financial_report, :class => "ss_sprite ss_zoom" %></td>
    <% if can? :edit, FinancialReport %>
    <td><%= link_to 'Edit', edit_financial_report_path(financial_report), :class => "ss_sprite ss_pencil" %></td>
    <% end %>
    <% if can? :delete, FinancialReport %>
    <td><%= link_to 'Destroy', financial_report, :confirm => 'Are you sure?', :method => :delete , :class => "ss_sprite ss_delete" %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @financial_reports %>
