<h1>Editing Student Attendance</h1>

<% form_for(@student_attendance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :student_id %><br />
    <%= f.collection_select :student_id, Student.status_equals(true) , :id, :name %>
  </p>
  <p>
    <%= f.label :class_session_id %><br />
    <%= f.collection_select :class_session_id, ClassSession.all , :id, :class_session_name %>
  </p>
  <p>
    <%= f.label :student_attendance_date %><br />
    <%= f.date_select :student_attendance_date %>
  </p>
  <p>
    <%= f.label :attendance %><br />
    <%= f.check_box :attendance %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @student_attendance %> |
<%= link_to 'Back', student_attendances_path %>