<h1>Listing Student Attendances</h1>
<%= link_to 'New Student Attendance', new_student_attendance_path %>
<table>
  <tr>
    <th>Student</th>
    <th>Class session</th>
    <th>Attendance Date</th>
    <th>Attendance</th>
    <th colspan="3">Action</th>
  </tr>

<% @student_attendances.each do |student_attendance| %>
  <tr>
    <td><%=h student_attendance.student.name %></td>
    <td><%=h student_attendance.class_session.class_session_name %></td>
    <td><%=h student_attendance.student_attendance_date %></td>
    <td><%=h student_attendance.attendance %></td>
    <td><%= link_to 'Show', student_attendance %></td>
    <td><%= link_to 'Edit', edit_student_attendance_path(student_attendance) %></td>
    <td><%= link_to 'Destroy', student_attendance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @student_attendances %>
