<h1>Listing Student Attendances</h1>
<%= link_to 'New Student Attendance', new_student_attendance_path %>
<div class="float_right"> <%= link_to "View All", :action => "index" %> | <a id="search" href="#search_form" rel="facebox">Advanced Search</a></div>
<div id="search_form" class="clear">
  <%= render "search" %>
</div>
<table>
  <tr>
    <th>Student</th>
    <th>Class Session</th>
    <th>Attendance Date</th>
    <th>Attendance</th>
    <th colspan="3">Action</th>
  </tr>

<% @student_attendances.each do |student_attendance| %>
  <tr>
    <td><%=h student_attendance.student.name %></td>
    <td><%=h student_attendance.class_session.class_session_name rescue nil %></td>
    <td><%=h student_attendance.student_attendance_date %></td>
    <td><%=h student_attendance.attendance %></td>
    <td><%= link_to 'Show', student_attendance %></td>
    <td><%= link_to 'Edit', edit_student_attendance_path(student_attendance) %></td>
    <td><%= link_to 'Destroy', student_attendance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @student_attendances %>
